<!-- # New user form built without rails helpers -->
<form action='/users' method ="post" accept-charset="UTF-8">
    <!-- # Rails expects a hidden input with the name of the authenticity token -->
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label for="username">Username:</label>
    <input type="text" name="user[username]" id="username">

    <label for="email">Email:</label>
    <input type="text" name="user[email]" id="email">

    <label for="password">Password:</label>
    <input type="password" name="user[password]" id="password">

    <label for="password_confirmation">Password Confirmation:</label>
    <input type="password" name="user[password_confirmation]" id="password_confirmation">

    <input type="submit" value="Create User">
</form>


